* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #4F6367;
    margin: 0;
    padding: 0;
}

.navbar a {
    text-decoration: none;
}

.navbar a:active {
    text-decoration: none;
}


.nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0;
    padding: 0;
    width: auto;
}


.logo {
    order: 0;

    font-family: 'Josefin Sans', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
    color: #F2F2F2;

    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 0.2rem;
    align-items: center;
}

.logo:hover {
    color: #B8D8D8;
}

.nav-link a {

    order: 1;
    width: auto;
    padding: 0.5rem;
    margin: 1rem;

    text-decoration: none;

    font-family: 'Share Tech Mono', monospace;
    font-size: 1rem;
    color: #F2F2F2;
}

.nav-link a:hover {
    background-color: #7A9E9F;
    color: black;
}

.nav-link a:focus {
    background-color: #B8D8D8;
    color: black;
}

.home-section {
    background-color: #B8D8D8;
    height: 89.5vh;
    width: auto;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 84%);
}

.home-background-text {
    padding-left: 3px;
    font-family: Share Tech Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 187.5%;
    line-height: 140%;
    /* or 34px */

    letter-spacing: 0.3em;

    color: #999999;
}

.home-greeting {
    position: absolute;
    left: 140px;
    top: 293px;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 400%;
    line-height: 140%;
    /* identical to box height, or 90px */

    letter-spacing: -0.04em;

    color: #373F41;
}

.home-greeting span {
    color: #fff;
}

#letter-balls {
    height: 57.5vh; 
    width: 42vw; 
    border: 0;

    position: absolute;
    left: 750px;
    top: 170px;
}

#letter-balls-shadow {
    position: absolute;
    height: 57.5vh; 
    width: 42vw; 
    left: 780px;
    top: 200px;

    background: #7A9E9F;
}

.project-section {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    padding-top: 5rem;
}

.project-info {
    width: 40%;
}
.section-header {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.9rem;
    font-weight: bold;
    letter-spacing: -0.015rem;
    color: #4F6367;
    margin-bottom: 2rem;
}

.project-details {
    list-style-type: none;
    font-family: 'Share Tech Mono', monospace;
    font-size: 2.3rem;
    color: #000000;
    padding-left: 3rem;
}

.project-details li {
    padding: 0.5rem;
}

.project-details li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #7A9E9F; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.project-tile {
    width: 30rem;
    height: 30rem;
    /* background-color: #E1DEDD; */
    background-color: #ededed;
    border-radius: 20px;
    margin-top: 5rem;
    margin-bottom: 3.7rem;
    display: flex;
    align-items: center;
}

.project-tile img {
    width: 30rem;
    height: auto;
    padding: 2rem;
}

.gallery {
    background: #EEE;
    margin: 5rem 10rem;
  }
  
  .gallery-cell {
    width: 66%;
    height: 20rem;
    margin-right: 10px;
    background: #f5f5f5;
    color: #4F6367;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* counter-increment: gallery-cell; */
  }
  
  /* cell number */
  .gallery-cell:before {
    display: block;
    text-align: center;
    /* content: counter(gallery-cell); */
    line-height: 200px;
    font-size: 80px;
    color: white;
  }

  .flickity-button-icon {
    fill: #4F6367;
  }

  .flickity-page-dots .dot.is-selected {
    background: #4F6367;
  }

  .experience-section {
      padding-top: 2rem;
      padding-bottom: 5rem;
  }

  .experience-section .section-header {
      margin-left: 7.5rem;
      margin-top: 5rem;
  }

  .experience-header {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3rem;
    padding: 1rem;
  }

  .experience-description {
      width: 80%;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1rem;
    align-self: center;
  }

  .about-section .section-header {
    margin-left: 7.5rem;
    margin-top: 5rem;
}

.about-info {
    color: #4F6367;
    font-family: 'Share Tech Mono', monospace;
    font-size: 2rem;
    padding: 2rem 7.5rem 10rem 7.5rem;
    display: flex;
    justify-content: space-between;
}

.about-section img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
}

.about-description {
    width: 60%;
}
